.text_center{
	text-align: center;
}

.home_header{
	text-align: center;
	font-size: 100px;
}

.header{
	text-align: center;
	font-size: 50px;
}

.img{
	height: 25px;
	width: 25px;
}

.al_right{
	text-align: right;
}